* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  height: 100vh;
  background: linear-gradient(180deg,
      rgb(43, 98, 180) 19%,
      rgb(205, 235, 60) 88%);
  
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 3px;
  margin: 15px 0 0 15px;
}

#search-box:focus,
#search-box:hover {
  outline: none;
  box-shadow: 0px 0px 20px 5px rgb(139, 153, 69);
}

.country-list {
  list-style: none;
}

.country-item {
  display: flex;
  align-items: center;
}

.flag {
  width: 80px;
  height: 50px;
  margin-right: 20px;
}

.flag--small {
  width: 50px;
  height: 30px;
  margin-right: 15px;
}

.country-info {
  font-weight: 700;
  margin-right: 20px;
}

.country-info-description {
  font-weight: 400;
}